[mattermost]
mm_scheme = {{ astrabot_mm_scheme }}
mm_port = {{ astrabot_mm_port }}
mm_host = {{ astrabot_mm_host }}

; name not display-name
team_name = astralinux
server_host = 127.0.0.1
server_port = 9000

; settins bot
bot_token = {{ astrabot_token }}
bot_name = astrabot

; settings command
command_trigger = qrcode
command_host_resolve = http://127.0.0.1:9000
command_description = Формирование QRcode для цифровой визитки сотрудника

[ldaps]
host = ldaps://account.astralinux.ru:636
login = uid=mm-dit-matterbot,cn=sysaccounts,cn=etc,dc=astralinux,dc=ru
password = {{ ldap_password }}
