version: "3.3"
services:
  astrabot:
    image: {{ astrabot_repository }}.{{ astrabot_registry }}/{{ astrabot_app }}:{{ astrabot_tag }}
    restart: always
    container_name: {{ astrabot_сontainer_name }}
    network_mode: "host"
    volumes:
      - {{ astrabot_docker_config_ini }}:/app/config.ini
