#!/bin/bash

# variables
DATE=`date +%Y-%m-%d`
# CONFIG="/opt/mattermost/config/config.json"
LOG_BACKUP="/var/backup/mattermost/${DATE}/logs.tar.gz"
PLUGINS_BACKUP="/var/backup/mattermost/${DATE}/plugins.tar.gz"
CLIENT_PLUGINS_BACKUP="/var/backup/mattermost/${DATE}/client_plugins.tar.gz"
CONFIG_BACKUP="/var/backup/mattermost/${DATE}/config.tar.gz"
# CONF_BACKUP="/var/backup/mattermost/${DATE}/config.json"
DB_BACKUP="/var/backup/mattermost/${DATE}/db_dump.gz"
# DATA_BACKUP="/var/backup/mattermost/${DATE}/data.tar.gz"
# NGINX_BACKUP="/var/backup/mattermost/${DATE}/nginx.tar.gz"
# NAS="rsync@nas01.astralinux.ru:/volume1/NetBackup/mattermost/daily"
# NAS_DATA="rsync@nas01.astralinux.ru:/volume1/NetBackup/mattermost/data"

# create backup directory
mkdir -p /var/backup/mattermost/${DATE}/

# compress data dir
# pushd /opt/mattermost &>/dev/null
# /bin/tar -czf $DATA_BACKUP ./data/ &>/dev/null
# popd  &>/dev/null

# compress log dir
pushd /opt/mattermost  &>/dev/null
/bin/tar -czf $LOG_BACKUP ./logs/  &>/dev/null
popd  &>/dev/null

# compress plugins
pushd /opt/mattermost  &>/dev/null
/bin/tar -czf $PLUGINS_BACKUP ./plugins/  &>/dev/null
popd  &>/dev/null

# compress client_plugins
pushd /opt/mattermost/client  &>/dev/null
/bin/tar -czf $CLIENT_PLUGINS_BACKUP ./plugins/  &>/dev/null
popd  &>/dev/null

# copy config
pushd /opt/mattermost  &>/dev/null
/bin/tar -czf $CONFIG_BACKUP ./config/  &>/dev/null
popd  &>/dev/null
# cp $CONFIG $CONF_BACKUP

#copy version file
cp /opt/mattermost/version /var/backup/mattermost/${DATE}/

# dump db
# -O Do not output commands to set ownership of objects to match the original database.
# -c Output commands to clean (drop) database objects prior to outputting the commands for creating them
docker exec -i psql sh -c 'PGPASSWORD={{ db_password }} pg_dump -U {{ db_user}} -d {{ db_name }} -h {{ cluster_name }} -p {{ cluster_port }} -O -c | gzip > /tmp/db_dump.gz'
mv /tmp/db_dump.gz $DB_BACKUP

# tar all
pushd /var/backup/mattermost/${DATE}  &>/dev/null
/bin/tar -czf /var/backup/mattermost/${DATE}.tar.gz ./  &>/dev/null
popd  &>/dev/null
rsync -az /var/backup/mattermost/${DATE}.tar.gz -e "{{ mm_nas_ext_keys }}" {{ mm_nas_target }} &>> /var/log/backup.log
rm -rf /var/backup/mattermost/${DATE} &> /dev/null
rm -rf /var/backup/mattermost/${DATE}.tar.gz  &>/dev/null

# sync data
# rsync -az /opt/mattermost/data/ -e "{{ mm_nas_ext_keys }}" {{ mm_nas_target_data }} &>> /var/log/backup-data.log
