[Unit]
Description=Mattermost
After=network.target

[Service]
Type=notify
ExecStart=/opt/mattermost/bin/mattermost
TimeoutStartSec=3600
Restart=always
RestartSec=10
WorkingDirectory=/opt/mattermost
User={{ mattermost_user }}
Group={{ mattermost_user }}
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
